* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: url(Images/earth.jpg);
  background-repeat: no-repeat;
  background-size: 150%;
  background-position: center center;
  transition: all 0.2s ease;
}

.bg.t {
  transition: all 3s ease;
}

.bg.c {
  background-position: center bottom;
}

.bg.zoom {
  background-size: 3000%;
  background-position: center bottom;
  transition: all 4s ease !important;
}

.title-box {
  top: 10vh;
  left: 10vw;
  position: absolute;
  z-index: 50;
}

.title {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(228, 228, 154);
  font-size: 6vw;
  transition: opacity 0.8s ease, all 0.3s linear;
  display: none;
}

.subtitle {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  position: relative;
  left: 50px;
  color:lightyellow;
  font-size: 3vw;
  transition: opacity 0.8s ease, all 0.3s linear;
  display: none;
}

.about {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 45pt;
  color: rgb(228, 228, 154);
  position: absolute;
  top: 40px;
  right: 30px;
  z-index: 100;
  display: none;
}

.projects {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 45pt;
  color: rgb(228, 228, 154);
  position: absolute;
  top: 100px;
  right: 30px;
  z-index: 100;
  display: none;
}

.contact {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 45pt;
  color: rgb(228, 228, 154);
  position: absolute;
  top: 160px;
  right: 30px;
  z-index: 100;
  display: none;
} 

:is(.title, .subtitle, .about, .projects, .contact) span {
  transition: opacity 0.8s ease;
}

.about:hover, .projects:hover, .contact:hover{
  cursor:pointer;
  color: gold;
}

.title:hover, .subtitle:hover{
  color: gold;
}

main{
  font-size: 1.2em;
}

#about-me{
  background-color: whitesmoke;
  position:absolute; 
  display: none;
  z-index: 1000;
  margin: 20%;
  border-radius: 10%;
  padding: 5%;
  opacity: 50%;
}

#my-pic{
  float:right;
  opacity: 100%;
  height: 250px;
  width: 200px;
  border: solid black 2px;
  margin-left: 5px;
  border-radius: 10%;
}

#my-projects{
  background-color: whitesmoke;
  position:absolute;
  display: none;
  z-index: 1000;
  margin: 20%;
  border-radius: 10%;
  padding: 5%;
  opacity: 80%;
}

#my-contacts{
  background-color: whitesmoke;
  position:absolute;
  display: none;
  z-index: 1000;
  margin: 20%;
  border-radius: 10%;
  padding: 5%;
  opacity: 80%;
  flex-direction: column;
}

.fade-in {
  animation: fade-in 3s forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {   
    opacity: .9;
  }
}

.zoom-out{
  height: 80vmax;
  width: 100vw;
}

.project-pics {
  height: 100px;
  width: 150px;
}

.social-links {
  height: 100px;
  width: 100px;
}

a:hover{
  color: red;
}
